@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --greenwedding: #304675;
  --font-montserrat: var(--font-montserrat);
  --font-parisienne: var(--font-parisienne);
  color-scheme: light;
}


@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}