.itinerary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    border: 1px solid #304675; /* verdecito */
    border-radius: 8px;
    padding: 5rem;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.itinerary-title {
    font-family: "Parisienne", cursive !important;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    color: #232F48; /* marroncito */
}

/* Mobile override */
@media (max-width: 768px) {
    .itinerary-container {
        margin: 30px;
    }
}
